<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">权限管理</h1>
            </div>
        </div>
    </div>
    <div class="wrapper-md" ng-controller="UserInfoCtrl">
        <div>
            <script type="text/ng-template" id="NewUser">
                <div ng-include="'pages/_authority_modal.html'"></div>
            </script>
            <button class="btn m-b-xs btn-md btn-primary btn-addon" ng-click="addUser()" style="width: 120px;"><i class="fa fa-plus"></i>新增用户</button>
            <button class="btn m-b-xs btn-md btn-info btn-addon" ng-click="pageSync()" style="width: 120px;"><i class="fa fa-refresh "></i>刷新</button>
        </div>
        <div class="panel panel-default">
            <div>
                <table ui-jq="dataTable" class="table m-b-none table-hover">
                    <thead>
                    <tr>
                        <th  style="width:20%">账号</th>
                        <th  style="width:20%">姓名</th>
                        <th  style="width:14%">管理员权限</th>
                        <th  style="width:14%">负责人权限</th>
                        <th  style="width:14%">巡检员权限</th>
                        <th  style="width:18%">修改/删除</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr id="{{user._id}}" ng-repeat="user in users">
                            <td>{{user.account}}</td>
                            <td>{{user.name}}</td>
                            <td><i class="fa {{user.au_admin   ? 'fa-circle-o text-success-dker' : 'fa-ban text-danger-dker'}}"></i></td>
                            <td><i class="fa {{user.au_manager ? 'fa-circle-o text-success-dker' : 'fa-ban text-danger-dker'}}"></i></td>
                            <td><i class="fa {{user.au_clerk   ? 'fa-circle-o text-success-dker' : 'fa-ban text-danger-dker'}}"></i></td>
                            <td><button class="btn btn-xs btn-info" ng-click="button_click()">修改</button><button class="btn btn-xs btn-danger" ng-click="rmUser('{{user._id}}')" style="margin-left: 5px;">删除</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>