<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardCtrl">
    <script type="text/ng-template" id="MissionInfo">
        <div ng-include="'pages/_mission_modal.html'"></div>
    </script>
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-9 col-xs-9">
                    <h1 class="m-n font-thin h3 text-black">任务板</h1>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <button class="btn btn-sm btn-primary btn-addon pull-right" ng-click="addMission()" ><i class="fa fa-plus"></i>新增任务</button>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- stats -->
            <div class="row">
                <div class="col-lg-3 cus-col">
                    <div class="panel panel-plan cus-shadow">
                        <div class="panel-heading">
                            计划任务
                        </div>
                        <div ui-jq="nestable" class="dd dd-plan" id="Planning" >
                            <li class="dd-item" data-id="1" ng-mousedown="itemClick2($event)" ng-click="itemClick($event)" ng-repeat="mission in planningMission">
                                <div class="dd-handle">
                                    <div class="row">
                                        <div class="col-lg-3 text-center">
                                            <i class="fa fa-history fa-5x dd-title" style="margin-top:40px; margin-left:10px;" title="循环任务" ng-show="mission.isRoll"></i>
                                            <i class="fa fa-history fa-5x dd-title" style="margin-top:40px; margin-left:10px;" title="单次任务" ng-show="mission.isSingle"></i>
                                        </div>
                                        <div class="col-lg-9 wrapper-sm">
                                            <div class="dd-title text-3x"><i class="glyphicon glyphicon-edit text-lg"></i> {{mission.uid}}</div>
                                            <div class="line line-lg pull-none" style="width: 80%;"></div>
                                            <div class="text-md dd-title"><i class="glyphicon glyphicon-map-marker"></i> &nbsp&nbsp{{mission.info}}</div>
                                            <div class="line line-lg pull-none " style="width: 80%;"></div>
                                            <div class="text-md dd-title"><i class="fa fa-calendar"></i> &nbsp&nbsp{{mission.date}}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dd-item" data-id="1" ng-mousedown="itemClick2($event)" ng-click="itemClick($event)">
                                <div class="dd-handle" >
                                    <div class="row">
                                        <div class="col-lg-3 text-center">
                                            <i class="fa fa-history fa-5x dd-title" style="margin-top:40px; margin-left:10px;" title="an icon"></i>
                                        </div>
                                        <div class="col-lg-9 wrapper-sm">
                                            <div class="dd-title text-3x"><i class="glyphicon glyphicon-edit text-lg"></i> MS-S-1010</div>
                                            <div class="line line-lg pull-none" style="width: 80%;"></div>
                                            <div class="text-md dd-title"><i class="glyphicon glyphicon-map-marker"></i> &nbsp&nbspfewfewfe</div>
                                            <div class="line line-lg pull-none " style="width: 80%;"></div>
                                            <div class="text-md dd-title"><i class="fa fa-calendar"></i> &nbsp&nbsp2017-5-24</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 cus-col">
                    <div class="panel panel-info cus-shadow">
                        <div class="panel-heading">
                            当前任务
                        </div>
                        <div ui-jq="nestable" class="dd dd-process" id="Processing">


                            <div class="dd-empty"></div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3 cus-col">
                    <div class="panel panel-warning cus-shadow">
                        <div class="panel-heading">
                            待审核
                        </div>
                        <div ui-jq="nestable" class="dd dd-confirm" id="Confirming">
                            <div class="dd-empty"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 cus-col">
                    <div class="panel panel-success cus-shadow">
                        <div class="panel-heading">
                            已完成
                        </div>
                        <div ui-jq="nestable" class="dd dd-complete" id="Complete">
                            <div class="dd-empty"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / main -->
    <!-- right col -->

    <!-- / right col -->
</div>